.header
    a.logo__link(href="#")
        img.photohead(src="./assets/imgs/Logo11.svg", alt="no photo")
    a.search__link(href="#")
        img.photohead(src="./assets/imgs/Search Icon.svg", alt="no photo")
    a.burger__link(href="#")
        img.photohead(src="./assets/imgs/Menu Icon.svg", alt="no photo")