extends layout/layout

block vars
    - var pageTitle = 'Главная страница'
    - var pageBodyClass = 'homepage'
    - var pageHeaderClass = ''

block content
    .first-screen
        .first-screen__content
            .first-screen__section
                h1.first-screen__h1 Work around you and your team
                h2.first-screen__h2 From ads that dance or sing to MTV-like commercials, online advertisers are now using a new type of technology “rich media” to attract consumers.
                a.fcghk(href="#") 
                    .btn
                        span.btn-span get started
                img.first-screen__loader(src="./assets/imgs/loader.png", alt="no photo")
                img.first-screen__loader2(src="./assets/imgs/Video.png", alt="no photo")
                
            img.first-screen__placeholder(src="./assets/imgs/Placeholder.jpg",alt="No photo")
    .second-screen  
        .second-screen__content 
            .second-screen__section 
                img.photo2(src="./assets/imgs/Placeholder.png", alt="no photo")
            .second-screen__section2
                h1.h1-second  We solve digital problems with an outstanding creative flare   
                h2.h2-second The best time to view the moon, obviously, is at night when there are few clouds and the weather is accommodating for a long and lasting study. 
                h3.h2-second For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
                .framework 
                    .framework-photo
                        img(src="./assets/imgs/Ellipse.png", alt="no photo")
                    .framework-text    
                        span.framework-span Denis Shepovalov
                        br
                        span.framework-span2 Co-Founder & CEO
    .third-screen   
        .third-screen__content 
            .third-screen_spans
                .third-screen_text
                    span.third-screen_span — Services
                    h1.third-screen_h1 We love work hard and explore new things that’s why we cover lot of things. Check our service list and view details
                .third-screen_ul
                    nav.menu-nav
                        ul.menu-ul
                        
                            li.itslee
                                a.itslee2(href='#') Multimedia
  
                            li.itslee
                                a.itslee2(href='#') Interactive design
  
                            li.itslee
                                a.itslee2(href='#') Packaging
  
                            li.itslee
                                a.itslee2(href='#') Branding
  
                    nav.menu-nav2  
                        ul.menu-ul2
                            li.itslee
                                a.itslee2(href='#') Creative Strategy
                            li.itslee
                                a.itslee2(href='#') UI/UX 
                            li.itslee
                                a.itslee2(href='#') Coding
  
  
            .third-screen_photos 
                 
                img.third-screen__placeholder-1(src="./assets/imgs/Placeholder-1.png", alt="no photo")
  
                img.third-screen__placeholder-2(src="./assets/imgs/Placeholder-2.png", alt="no photo")
                img.third-screen__placeholder-3(src="./assets/imgs/Navigation.png", alt="no photo")
